.madelyn-torff {
  position: relative;
  line-height: 180%;
  white-space: nowrap;
}
.sobre {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.tab-default {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sobre1 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.tab-default1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sobre2 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.header,
.nav,
.tab-default2 {
  display: flex;
  flex-direction: row;
}
.tab-default2 {
  flex: 1;
  align-items: center;
  justify-content: center;
}
.header,
.nav {
  margin: 0;
  width: 291px;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-18-size);
  color: var(--font-high-emphasis);
  font-family: var(--body-18);
}
.header {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  padding: 12px var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-760xl);
  max-width: 100%;
  z-index: 1;
  font-family: var(--font-comfortaa);
}
.uiux-designer {
  height: 27px;
  text-transform: uppercase;
}
.image-frame,
.title,
.web-designer {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.title {
  margin: 0;
  height: 200px;
  font-size: inherit;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
  white-space: pre-wrap;
}
.image-frame {
  height: 108px;
  line-height: 36px;
}
.subheadline {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-24-size);
  color: var(--font-medium-emphasis);
  font-family: var(--body-24);
}
.pexelsellyfairy-frame {
  position: relative;
  font-size: var(--body-18-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--font-high-emphasis);
  text-align: left;
}
.button-primary {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) 24px;
  background-color: var(--brand-yellow);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-primary:hover {
  background-color: var(--color-darkgoldenrod);
}
.text {
  position: relative;
  font-size: var(--body-18-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--font-high-emphasis);
  text-align: left;
}
.button-secondary {
  cursor: pointer;
  border: 2px solid var(--font-high-emphasis);
  padding: var(--padding-5xs) 26px var(--padding-5xs) var(--padding-3xl);
  background-color: transparent;
  border-radius: var(--br-5xs);
  flex-direction: row;
}
.button-secondary:hover {
  background-color: var(--color-dimgray-200);
  border: 2px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.button-secondary,
.buttons,
.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttons {
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xs);
}
.content {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-13xl);
  font-size: var(--title-h1-size);
  color: var(--gray-1);
  font-family: var(--title-h2);
}
.image-icon,
.intro {
  max-width: 10%;
  overflow: hidden;
}
.intro {
  width: 486px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-xs);
  min-width: 486px;
}
.image-icon {
  height: 629px;
  flex: 1;
  position: relative;
  object-fit: cover;
  min-width: 468px;
}
.content-frame,
.u-i-u-x-designer-text {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.content-frame {
  width: 1340px;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-95xl);
}
.u-i-u-x-designer-text {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
  font-size: 20px;
  color: var(--brand-yellow);
  font-family: var(--body-24);
}
.title-text-component {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 72px;
  font-weight: 700;
  font-family: inherit;
}
.subheadline-text-component {
  width: 100px;
  height: 4px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--brand-yellow);
}
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--title-h2-size);
}
.projectnfo-rectangle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
}
.pexelsellyfairy-frame1,
.textbotosecundrio {
  position: relative;
  font-size: var(--body-18-size);
  line-height: 150%;
}
.pexelsellyfairy-frame1 {
  align-self: stretch;
  height: 81px;
  font-family: var(--body-24);
  color: var(--font-medium-emphasis);
  display: inline-block;
}
.textbotosecundrio {
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--font-high-emphasis);
  text-align: left;
}
.boto-secudrio {
  cursor: pointer;
  border: 1px solid var(--font-high-emphasis);
  padding: var(--padding-5xs) var(--padding-lgi) var(--padding-5xs)
    var(--padding-4xl);
  background-color: transparent;
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.boto-secudrio1:hover,
.boto-secudrio2:hover,
.boto-secudrio:hover {
  background-color: var(--color-dimgray-200);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.project-info-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.project-nfo {
  flex: 0.8206;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 147px var(--padding-20xl) 145px var(--padding-31xl);
  box-sizing: border-box;
  min-width: 322px;
  max-width: 100%;
}
.pexels-elly-fairytale-3823207-icon {
  align-self: stretch;
  height: 526px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.section-title-component {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  min-width: 322px;
  max-width: 100%;
}
.project1,
.project2-child {
  max-width: 100%;
  overflow: hidden;
}
.project1 {
  align-self: stretch;
  border-radius: var(--br-5xl);
  box-shadow: 0 6px 64px rgba(112, 144, 176, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  row-gap: 20px;
}
.project2-child {
  height: 524px;
  flex: 1;
  position: relative;
  object-fit: cover;
  min-width: 322px;
  min-height: 524px;
}
.text1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
}
.madelyn-torff-text,
.project-info-frame1 {
  position: relative;
  font-size: var(--body-18-size);
  line-height: 150%;
}
.project-info-frame1 {
  align-self: stretch;
  height: 54px;
  font-family: var(--body-24);
  color: var(--font-medium-emphasis);
  display: inline-block;
}
.madelyn-torff-text {
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--font-high-emphasis);
  text-align: left;
}
.boto-secudrio1 {
  cursor: pointer;
  border: 1px solid var(--font-high-emphasis);
  padding: var(--padding-5xs) var(--padding-lgi) var(--padding-5xs)
    var(--padding-4xl);
  background-color: transparent;
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.text-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.project-nfo1,
.project2 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.project-nfo1 {
  flex: 0.8206;
  background-color: var(--bg-white);
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-141xl) var(--padding-20xl) var(--padding-140xl)
    var(--padding-31xl);
  box-sizing: border-box;
  min-width: 322px;
}
.project2 {
  align-self: stretch;
  border-radius: var(--br-5xl);
  box-shadow: 0 6px 64px rgba(112, 144, 176, 0.1);
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  row-gap: 20px;
}
.text2,
.text3,
.text4 {
  position: relative;
  line-height: 150%;
}
.text2 {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.text3,
.text4 {
  font-size: var(--body-18-size);
}
.text3 {
  align-self: stretch;
  height: 54px;
  font-family: var(--body-24);
  color: var(--font-medium-emphasis);
  display: inline-block;
}
.text4 {
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--font-high-emphasis);
  text-align: left;
}
.boto-secudrio2 {
  cursor: pointer;
  border: 1px solid var(--font-high-emphasis);
  padding: var(--padding-5xs) var(--padding-lgi) var(--padding-5xs)
    var(--padding-4xl);
  background-color: transparent;
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.project-nfo2,
.text-group {
  display: flex;
  max-width: 100%;
}
.text-group {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.project-nfo2 {
  flex: 0.8206;
  background-color: var(--bg-white);
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-141xl) var(--padding-20xl) var(--padding-140xl)
    var(--padding-31xl);
  box-sizing: border-box;
  min-width: 322px;
}
.project3,
.project3-child {
  overflow: hidden;
  max-width: 100%;
}
.project3-child {
  height: 524px;
  flex: 1;
  position: relative;
  object-fit: cover;
  min-width: 322px;
}
.project3 {
  align-self: stretch;
  border-radius: var(--br-5xl);
  box-shadow: 0 6px 64px rgba(112, 144, 176, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  row-gap: 20px;
}
.footer-form-component {
  width: 1032px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--font-high-emphasis);
  font-family: var(--title-h2);
}
.buttonprimary-icon {
  width: 100%;
  height: 344px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.text-text {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 72px;
  font-weight: 700;
  font-family: inherit;
}
.section-title-child {
  width: 100px;
  height: 4px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--brand-yellow);
}
.buttonsecondary,
.section-title1 {
  display: flex;
  justify-content: flex-start;
}
.section-title1 {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-9xs);
}
.buttonsecondary {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 43px 0 var(--padding-xl);
}
.label1 {
  height: 22px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 1px 0 0;
}
.input {
  border: 1px solid var(--color-aliceblue);
  outline: 0;
  background-color: var(--bg-white);
  align-self: stretch;
  height: 40px;
  position: relative;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 240px;
}
.form-group-input {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.label3 {
  height: 22px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.label2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 3px 0 0;
}
.input1 {
  border: 1px solid var(--color-aliceblue);
  outline: 0;
  background-color: var(--bg-white);
  align-self: stretch;
  height: 40px;
  position: relative;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 240px;
}
.form-group-input1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.label5 {
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
}
.label4,
.textarea {
  box-sizing: border-box;
}
.label4 {
  width: 44px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.textarea {
  border: 1px solid var(--color-aliceblue);
  background-color: var(--bg-white);
  height: 160px;
  width: auto;
  outline: 0;
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
}
.form-group-textarea {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.project-info-frame2 {
  position: relative;
  font-size: var(--body-18-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--font-high-emphasis);
  text-align: left;
}
.button-primary1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs);
  background-color: var(--brand-yellow);
  width: 89px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.button-primary1:hover {
  background-color: var(--color-darkgoldenrod);
}
.form {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.bienvelope-fill-icon,
.bilinkedin-icon,
.phinstagram-logo-fill-icon {
  height: 48px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 48px;
}
.icons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.madelyn-torff-2021 {
  position: relative;
}
.linked-in-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) 0 var(--padding-6xl);
}
.footer-icons {
  width: 192px;
  gap: var(--gap-13xl);
  color: var(--font-medium-emphasis);
}
.footer-form,
.footer-icons,
.form-component,
.portfolio-with-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.form-component {
  width: 440px;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-37xl);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--body-24);
}
.footer-form,
.portfolio-with-form {
  position: relative;
}
.footer-form {
  align-self: stretch;
  padding: 0 0 241px;
  box-sizing: border-box;
  gap: var(--gap-61xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--title-h2-size);
  color: var(--font-high-emphasis);
  font-family: var(--title-h2);
}
.portfolio-with-form {
  width: 100%;
  background-color: var(--bg-gray);
  overflow: hidden;
  gap: var(--gap-125xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .header {
    gap: var(--gap-760xl);
  }
  .intro {
    flex: 1;
  }
  .content-frame {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .title {
    font-size: 51px;
    line-height: 61px;
  }
  .title-text-component {
    font-size: var(--font-size-19xl);
    line-height: 58px;
  }
  .projectnfo-rectangle {
    font-size: var(--font-size-13xl);
    line-height: 48px;
  }
  .project-nfo,
  .section-title-component {
    flex: 1;
  }
  .project1 {
    flex-wrap: wrap;
  }
  .project2-child {
    flex: 1;
  }
  .text1 {
    font-size: var(--font-size-13xl);
    line-height: 48px;
  }
  .project-nfo1 {
    flex: 1;
  }
  .project2 {
    flex-wrap: wrap;
  }
  .text2 {
    font-size: var(--font-size-13xl);
    line-height: 48px;
  }
  .project-nfo2,
  .project3-child {
    flex: 1;
  }
  .project3 {
    flex-wrap: wrap;
  }
  .footer-form-component {
    gap: var(--gap-61xl);
  }
  .text-text {
    font-size: var(--font-size-19xl);
    line-height: 58px;
  }
  .footer-form {
    padding-bottom: 157px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .header {
    gap: var(--gap-760xl);
  }
  .content {
    gap: var(--gap-13xl);
  }
  .image-icon,
  .intro {
    min-width: 100%;
  }
  .content-frame {
    gap: var(--gap-95xl);
  }
  .project-nfo,
  .project-nfo1,
  .project-nfo2 {
    padding-left: var(--padding-6xl);
    box-sizing: border-box;
  }
  .project-nfo {
    padding-top: 96px;
    padding-bottom: 94px;
  }
  .project-nfo1,
  .project-nfo2 {
    padding-top: var(--padding-85xl);
    padding-bottom: var(--padding-84xl);
  }
  .footer-form-component {
    gap: var(--gap-61xl);
  }
  .footer-form {
    padding-bottom: 102px;
    box-sizing: border-box;
  }
  .portfolio-with-form {
    gap: var(--gap-125xl);
  }
}
@media screen and (max-width: 450px) {
  .nav {
    display: none;
  }
  .header {
    width: 1149px;
    gap: var(--gap-760xl);
  }
  .uiux-designer {
    font-size: var(--font-size-base);
  }
  .title {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .image-frame {
    font-size: 19px;
    line-height: 29px;
  }
  .content-frame {
    gap: var(--gap-95xl);
  }
  .title-text-component {
    font-size: var(--font-size-10xl);
    line-height: 43px;
  }
  .projectnfo-rectangle,
  .text1,
  .text2 {
    font-size: var(--body-24-size);
    line-height: 36px;
  }
  .text-text {
    font-size: var(--font-size-10xl);
    line-height: 43px;
  }
  .form-component {
    gap: var(--gap-37xl);
  }
  .footer-form {
    gap: var(--gap-61xl);
  }
  .portfolio-with-form {
    gap: var(--gap-125xl);
  }
}
